/* Custom position for the toast container */
.Toastify__toast-container {
  top: 120px !important; /* Adjust vertical position */
}

/* Custom styles for the toast itself */
.Toastify__toast {
  background-color: #f2f9f2 !important;
  padding: 16px !important;
}

/* Custom styles for the close button */
.Toastify__close-button {

}
